<div class="legend">
  <div class="legend-topic">
    <h1>Máscara</h1>
    <div>
      <div>
        <img src="./required-mask.png" alt="Required mask" />
        <h2>Obrigatório</h2>
      </div>
      <div>
        <img src="./recommended-mask.png" alt="Recommended mask" />
        <h2>Recomendado</h2>
      </div>
    </div>
  </div>
  <div class="legend-topic">
    <h1>Toalha</h1>
    <div>
      <div>
        <img src="./required-towel.png" alt="Required towel" />
        <h2>Obrigatório</h2>
      </div>
      <div>
        <img src="./recommended-towel.png" alt="Recommended towel" />
        <h2>Recomendado</h2>
      </div>
    </div>
  </div>
  <div class="legend-topic">
    <h1>Bebedouro</h1>
    <div>
      <div>
        <img src="./partial-fountain.png" alt="Partial fountain" />
        <h2>Parcial</h2>
      </div>
      <div>
        <img src="./not_allowed-fountain.png" alt="Not allowed fountain" />
        <h2>Proibido</h2>
      </div>
    </div>
  </div>
  <div class="legend-topic">
    <h1>Vestiários</h1>
    <div>
      <div>
        <img src="./allowed-lockerroom.png" alt="Allowed lockerroom" />
        <h2>Liberado</h2>
      </div>
      <div>
        <img src="./partial-lockerroom.png" alt="Partial lockerroom" />
        <h2>Parcial</h2>
      </div>
      <div>
        <img src="./closed-lockerroom.png" alt="Closed lockerroom" />
        <h2>Fechado</h2>
      </div>
    </div>
  </div>
</div>
